nav-enlace{
    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rosybrown;
}
nav{
    background: rgb(18, 9, 28);
    padding: 10px;
    display: flex;
    justify-content: space-around;  
}
.nav-boton{
    background-color: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: flex;
    
}
@media (max-width: 600px){
    nav{
        background: black;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}
body{
    background-color: rgb(19, 19, 108);
}
body h1{
    background-color: rgb(124, 5, 50);
    color: #fff;
}
body p{
    color:#fff
}    
body li{
    color: #fff;
}
.titulop1{
    font-size: xx-large;
    background-color: rgb(124, 5, 50);
}
body h2{
    color: rgb(152, 7, 65);
}

header {
    background-color: #333;
    padding: 20px;
    color: white;
  }
  
  nav {
    text-align: right;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-left: 10px;
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
  }
  .sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
  }
  
  .sidebar li a {
    color: white;
    text-decoration: none;
  }
  
  .content {
    margin-left: 200px;
    padding: 20px;
  }
  #toggleBtn {
    display: none;
  }
  
  .toggle-label {
    display: block;
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  #menu {
    display: none;
  }
  
  #toggleBtn:checked ~ #menu {
    display: block;
  }
.Incio {
     text-align: left;

}
.titulop1{
    background-color: rgb(133, 13, 13);
    
}





  
