.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rosybrown;
}
nav{
    background: rgb(18, 9, 28);
    padding: 10px;
    display: flex;
    justify-content: space-around;  
}
.nav-boton{
    background-color: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: flex;
    
}
@media (max-width: 600px){
    nav{
        background: black;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}
body{
    background-color: rgb(250, 140, 0 );
}
body p{
    color:#fff
}    
body li{
    color: #fff;
}
.titulop1{
    font-size: xx-large;
    background-color: rgb(129, 250, 0 );
}
body h2{
    color: rgb(0, 106, 250 );
}